*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-family: 'Patrick Hand SC', cursive;
  font-size: medium;
}

/*color var(--main-color);*/

body {
  background-color:rgba(24, 106, 59) ;
}

/*--------------Main-Conatainer------------------*/

.main-container{
  width: 100%;
  margin: auto;
  background-color:black;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
  justify-content: center;
  
}

.main-content{
  background-color: #033E3E;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
  justify-content: center;
}



.location-name{
  display: flex;
  justify-content: flex-start;
  
}

.location-info{
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;

}

.location-info ul li{
  list-style: none;
  display: flex;
  flex-direction: row;
  
    
}

.location-info span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*-------------header image-------------------------*/

.header-img{
  width: 100%;
  
}

/*--------------search bar ------------------*/

.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 5px;
  margin-left: 10px;
  width: max-content;
  
}

.button{
  background: #83d394;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  
  margin-right: 10px;
  box-shadow: 0 0 10px #FFA62F;
  padding: 20px;
}

.button:hover{
  background: #44a559;
  color: #fff;
}

.button:active{
  box-shadow: 0 0 10px #3a8d4c;
  transform: translateY(2px);
  transition: .1s ease all;
}
/*------------------------CARD STYLES-----------------------------*/

.card-character{
  width: 50%;
  max-width: 400px;
  padding: 40px;
  margin: 40px;
  border-radius: 2px solid;
  box-shadow: 0 0 25px #FFA62F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(243, 242, 242);
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.card-character:hover{
  box-shadow: 0 0 20px #d38826;
}

.card-character:active {
  box-shadow: 0 0 10px #c27a23;
  transform: translateY(2px);
}

/*------------------Footer----------------------------*/

.footer{
  background-color: #06494998;
  font-weight: 600;
  color: beige;
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
  justify-content: center;
}